#hp-common-questions {
	h3 {
		border-bottom: 1px dashed $c-yellow;
		padding-bottom: 8px;
		margin-bottom: 14px;
	}
	& > div {
		&:last-of-type {
			.article {
				border-bottom: none;
				padding-bottom: 0;
				margin-bottom: 30px;
			}
		}
	}
}
/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {
}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {
}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {
}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {

}