#hp-parallax {
	background: url(/ekmps/shops/995665-sandbox/resources/Design/hp-parallax.jpg) 50% center / cover no-repeat fixed rgb(0, 0, 0);
	padding-top: 30px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	.frame {
		background: rgba(255, 255, 255, 0.7);
		display: flex;
		margin-bottom: 20px;
		align-items: center;
	}
	.image-container {
		max-width: 60%;
		display: flex;
		align-items: flex-end;
	}
	.copy-container {
		padding: 14px 10px;
		display: block;
		flex: 1 1 auto;
		&:hover {
			text-decoration: none;
		}
		span {
			display: block;
		}
	}
	.title {
		font-size: 3.9vw;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 13px;
	}
	.from {
		font-size: 3.5vw;
		margin-bottom: 4px;
	}
	.price {
		font-size: 5.6vw;
		font-weight: 700;
		&:after {
			@extend %icon-base;
			content: $icon-arrow-right;
			vertical-align: -2px;
			font-size: 80%;
			margin-left: 3px;
		}
	}
}

/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {
	#hp-parallax {
		.title {
			font-size: 2.5vw;
		}
		.from {
			font-size: 1.8vw;
		}
		.price {
			font-size: 3.1vw;
		}
	}
}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {
	#hp-parallax {
		.title {
			font-size: 2.0vw;
			margin-bottom: 30px;
		}
		.from {
			font-size: 1.5vw;
		}
	}
}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {
	#hp-parallax {
		.price {
			font-size: 2.5vw;
		}
	}
}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {
	#hp-parallax {
		.copy-container {
			padding: 20px;
		}
		.title {
			font-size: 24px;
			font-weight: 400;
			line-height: 29px;
			margin-bottom: 30px;
		}
		.from {
			font-size: 19px;
		}
		.price {
			font-size: 34px;
			font-weight: 700;
		}
	}
}