#slideshow-container {
	background: $c-dgrey;
	margin-bottom: 40px;
	margin-top: -1px;
	.flex-control-nav {
		bottom: -28px;
	}
	.container {
		padding: 0 20px;
	}
}
#slideshow {
	margin: 0 auto;
	max-width: 1200px;
	border: none;
	&.flexslider {
		margin-bottom: 0;
		background: $c-dgrey;
	}
}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {
	#slideshow-container {
		margin-bottom: 60px;
		.col-12 {
			padding-left: 0;
			padding-right: 0;
		}
		.flex-control-nav {
			bottom: -40px;
		}
	}
}
