%common-form-styles {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border: 1px solid $border-colour;
	color: $c-text;
	background-color: $c-white;
	border-radius: 6px;
	&:focus {
		border-color: lighten($border-colour, 10%);
		outline: 0;
	}
}
textarea:focus,
input:focus,
button:focus {
    outline: none;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
	@extend %common-form-styles;
}
textarea{
    resize: none;
}
label{
    font-weight:400;
    margin-bottom: 6px;
    display: block;
    font-size: 13px;
}
select {
	@extend %common-form-styles;
	display: block;
	width: 100%;
	background-image: none;
	@include transition("border-color ease-in-out .15s, box-shadow ease-in-out .15s");
}