$icomoon-font-family: "ambicon" !default;
$icomoon-font-path: "../Other" !default;

$icon-apostrophe-close: "\e900";
$icon-apostrophe-open: "\e901";
$icon-arrow-down: "\e902";
$icon-arrow-left: "\e903";
$icon-arrow-right: "\e904";
$icon-arrow-up: "\e905";
$icon-cart: "\e906";
$icon-cross: "\e907";
$icon-ellipse: "\e908";
$icon-facebook: "\e909";
$icon-magnifying-glass: "\e90a";
$icon-pinterest: "\e90b";
$icon-telephone: "\e90c";
$icon-tick: "\e90d";
$icon-twitter: "\e90e";
$icon-user: "\e90f";
$icon-dot: "\e910";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?osl9w6') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?osl9w6') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?osl9w6##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

%icon-base {
	/* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  @extend %icon-base;
}

.icon-apostrophe-close {
  &:before {
    content: $icon-apostrophe-close;
  }
}
.icon-apostrophe-open {
  &:before {
    content: $icon-apostrophe-open;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-cart {
  &:before {
    content: $icon-cart;
  }
}
.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-ellipse {
  &:before {
    content: $icon-ellipse;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-magnifying-glass {
  &:before {
    content: $icon-magnifying-glass;
  }
}
.icon-pinterest {
  &:before {
    content: $icon-pinterest;
  }
}
.icon-telephone {
  &:before {
    content: $icon-telephone;
  }
}
.icon-tick {
  &:before {
    content: $icon-tick;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-dot {
  &:before {
    content: $icon-dot;
  }
}