ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
		font-size: 13px;
		line-height: 18px;
    }
}
ol {
	margin-left: 20px;
	li {
		line-height: 1.6;
	}
	ol {
		margin-bottom: 20px;
	}
}
ol.numeric {
    counter-reset: item;
    overflow: hidden;
    padding: 0;
    margin: 0 0 0 2px;
    & > li {
        padding-left: 26px;
        padding-bottom: 12px;
        font-size: 13px;
	    line-height: 17px;
        &:before {
            content: counter(item) ". ";
            counter-increment: item;
            color: $c-text;
            margin-left: -27px;
            margin-right: 6px;
            width: 20px;
            display: inline-block;
        }
        ul {
        	margin-top: 10px;
        }
    }
}


ul.arrow {
	margin: 0 0 20px 20px;
	li {
		display: flex;
		align-items: center;
		padding-bottom: 8px;
		&:before {
			@extend %icon-base;
			content: $icon-arrow-right;
			margin-right: 8px;
			font-size: 80%;
		}
	}
	ul {
		flex-basis: 100%;
		margin: 10px 0 0 20px;
	}
}

dl {
	dt {
		font-weight: 600;
		margin-bottom: 6px;
	}
	dd {
		margin-bottom: 20px;
	}
}