.panel {
	display: block;
	border: 1px solid $c-lgrey;
	&:hover {
		border-color: $c-dgrey;
	}
	.image-container {
		display: flex;
		padding: 10px;
		position: relative;
		align-items: center;
		justify-content: center;
	}
	.copy-container {
		padding: 10px 5px;
		display: block;
		span {
			display: block;
		}
	}
	.title {
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 10px;
	}
	.price {
		font-weight: 400;
		font-size: 19px;
	}
	.stock-status {
		color: $c-green;
	}
	.price-block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		.rrp {
			margin-bottom: 8px;
			text-decoration: line-through;
		}
		.price {
			margin-bottom: 8px;
			font-weight: 600;
		}
	}
	&.product {
		text-align: center;
		margin-bottom: 20px;
		.title {
			margin-bottom: 10px;
			font-weight: 400;
		}
		a {
			&:hover {
				text-decoration: none;
				color: $c-black;
			}
		}
	}
	&.category {
		margin-bottom: 20px;
		&:hover {
			.copy-container {
				background: darken($c-dgrey, 10%);
			}
		}
		.copy-container {
			background: $c-dgrey;
			text-align: center;
		}
		.title {
			a {
				color: $c-white;
				&:hover {
					text-decoration: none;
				}
				&:after {
					@extend %icon-base;
					margin-left: 8px;
					content: $icon-arrow-right;
					vertical-align: -2px;
					color: $c-yellow;
				}
			}
		}
	}
}

[class^="corner-flash"] {
	position: absolute;
	z-index: 100;
}
.corner-flash-tl {
	top: 0;
	left: 0;
}
.corner-flash-tr {
	top: 0;
	right: 0;
}
.corner-flash-bl {
	bottom: 0;
	left: 0;
}
.corner-flash-br {
	bottom: 0;
	right: 0;
}

.dark-panels-container {
	.panel {
		&:hover {
			border-color: $c-dgrey;
			.copy-container {
				background: darken($c-dgrey, 10%);
			}
		}
		.copy-container {
			background: $c-dgrey;
			text-align: center;
			.title {
				font-size: 3.9vw;
				line-height: 1.3;
				margin-bottom: 10px;
				color: $c-white;
			}
			.price {
				color: $c-yellow;
				font-weight: 400;
				font-size: 19px;
				&:after {
					@extend %icon-base;
					font-family: ambicon;
					content: $icon-arrow-right;
					vertical-align: -1px;
					font-size: 15px;
					margin-left: 3px;
				}
			}
		}
	}
}

/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {
	.panel {
		.copy-container {
			padding: 10px;
		}
		.title {
			font-size: 16px;
			line-height: 21px;
			margin-bottom: 6px;
		}
		.price {
			font-weight: 400;
			font-size: 21px;
		}
		&.product {
			.price {
				font-size: 19px;
			}
			img {
				max-height: 200px;
			}
		}
	}
	.dark-panels-container {
		.panel {
			.copy-container {
				.title {
					font-size: 2.7vw;
				}
				.price {
					font-size: 3.2vw;
				}
			}
		}
	}
}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {
	.dark-panels-container {
		.panel {
			.copy-container {
				.title {
					font-size: 1.8vw;
				}
				.price {
					font-size: 2.4vw;
				}
			}
		}
	}
}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {
	.panel {
		.title {
			font-size: 15px;
		}
	}
	.dark-panels-container {
		.panel {
			.copy-container {
				.title {
					font-size: 18px;
				}
				.price {
					font-size: 22px;
				}
			}
		}
	}
}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {

}