//---------------------
// General table styles
//---------------------
table {
    border-collapse: collapse;
    margin: 0 0 20px 0;
}
td,
th {
    padding: 8px 13px;
    text-align: left;
    border-left: 1px solid $border-colour;
    font-size: 13px;
    line-height: 1.4;
}
th {
    color: $c-text;
    border-bottom: 2px solid $border-colour;
}
td {
	font-size: 12px;
    border-top: 1px solid $border-colour;
}
tr th:first-of-type,
tr td:first-of-type {
    border-left: none;
}
td.blank,
th.blank {
    border: none;
}
thead th {
    font-weight: bold;
    border-left: 1px solid $border-colour;
    border-right: 1px solid $border-colour;
}
thead th:first-of-type {
    border-left: none!important;
}
thead th:last-of-type {
    border-right: none;
}
thead th[colspan="2"],
thead th[colspan="3"],
thead th[colspan="4"],
thead th[colspan="5"] {
    text-align: center;
}

//--------------------------
//  Table with Side headings
//--------------------------
.side th {
    text-align: right;
    border-right: 2px solid $border-colour;
    border-left: none;
    border-top: 1px solid $border-colour;
    border-bottom: none;
    vertical-align: middle;
}

.side tr:first-of-type th,
.side tr:first-of-type td {
    border-top: none;
}

//----------------------------------
//  Table with Top and Side headings
//----------------------------------

.top-and-side {
    thead {
        th {
            border-left: 1px solid $border-colour;
            border-right: none;
            border-top: none;
            border-bottom: 2px solid $border-colour;
            &:first-of-type {
                border-right: 2px solid $border-colour;
                border-left: none;
            }
        }
    }
    tbody {
        tr {
            th {
                border-right: 2px solid $border-colour;
                border-bottom: 1px solid $border-colour;
            }
            &:last-of-type {
                th {
                    border-bottom: none;
                }
            }
        }
    }
}