@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

body{
    font-family: 'Open Sans', Arial, sans-serif;
    color: $c-text;
    font-size: 14px;
    font-weight: 400;
}

strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
    &:first-child {
        margin-top: 0;
    }
    &.centered{
        text-align: center;
    }
}

h1 {
    color: $c-text;
    font-size: 22px;
    margin-bottom: 10px;
}

h2 {
	font-size: 18px;
    margin-bottom: 5px;
    font-weight: 400;
}

h3 {
    color: $c-text;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

h4 {
    color: $c-text;
    font-size: 19px;
}

h5 {
	font-size: 14px;
    margin-bottom: 10px;
}

.section-title {
	width: 100%;
	padding: 16px;
	background: $c-yellow;
	margin-bottom: 20px;
	font-weight: 400;
}

a {
	color: $link-color;
	text-decoration: none;
    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 1.5;
    a {
		font-weight: 600;
    }
}

small {
	font-size: 10px;
}

tel {
	color: $c-text;
	display: block;
	font-size: 24px;
	font-weight: 500;
	&:before {
		color: $c-text;
		margin-right: 10px;
		font-size: 26px;
	}
}

address {
	margin: 0 0 20px;
    font-size: 13px;
    line-height: 1.5;
}

// =========================
//  Small Breakpoint
// =========================
@include media-breakpoint-up(sm) {
	body {
		font-size: 13px;
	}
	h2 {
		font-size: 20px;
		margin-bottom: 5px;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 15px;
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include media-breakpoint-up(md) {
	body {
		font-size: 14px;
	}
	h1 {
		font-size: 28px;
		margin-bottom: 10px;
	}
	h2 {
		font-size: 20px;
		margin-bottom: 8px;
	}
	h3 {
		font-size: 17px;
	}
	h5 {
		font-size: 16px;
	}
	small {
		font-size: 11px;
	}
}

// =========================
//  Large Breakpoint
// =========================
@include media-breakpoint-up(lg) {
	h1 {
		font-size: 24px;
		line-height: 1.2;
		margin-bottom: 12px;
	}
	h2 {
		font-size: 19px;
		line-height: 1.2;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font-size: 20px;
		line-height: 1.2;
	}
	h5 {
		font-size: 17px;
	}
	small {
		font-size: 12px;
	}
}
