.article-panels {
	padding: 20px 0;
	border-top: 1px solid $c-lgrey;
	.title {
		background: $c-yellow;
		padding: 10px 20px;
		display: flex;
		align-items: center;
	}
	h4 {
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
	}
	.copy-container {
		padding: 20px;
	}
	.article {
		border-bottom: 1px dotted $c-lgrey;
		padding: 0;
		margin: 10px;
		background: lighten($c-lgrey, 20%);
		max-width: calc(100% - 20px);
	}
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
	.read-more {
		padding: 0 20px 20px 20px;
		margin: 0;
		&:hover {
			color: $c-yellow;
		}
	}
}

.read-more {
	&:hover {
		text-decoration: none;
		color: $c-yellow;
	}
	&:after {
		@extend %icon-base;
		content: $icon-arrow-right;
		vertical-align: -2px;
		font-size: 80%;
		margin-left: 3px;
	}
}
.article {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $c-lgrey;
	img {
		margin-bottom: 20px;
		width: 100%;
	}
	.read-more {
		display: block;
		margin-top: 30px;
		font-size: 15px;
		font-weight: 600;
	}
}
/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {
	.article-panels {
		.article {
			max-width: calc(50% - 20px);
		}
	}
}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {
	.article-panels {
		.article {
			max-width: calc(33.3333333% - 20px);
		}
	}
	.article {
		border-bottom: none;
		margin-bottom: 30px;
		padding-bottom: 0;
	}
}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {
	.article {
		h3 {
			font-size: 16px;
		}
	}
}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {
	.article {
		h3 {
			font-size: 18px;
		}
	}
}