// EKM Classes
.ekmpscart-header {
	.ekmpscart-title {
		margin-bottom: 20px !important;
	}
}
.ekm-edit-button-wrapper {
    pointer-events:none
}
.ekm-edit-button-wrapper * {
    pointer-events:all;
}
.ekmpscart-wrapper {
	margin-top: 20px;
}
.ekmpscart-cart-items-product-name {
	a {
		color: $c-text !important;
	}
}
.ekmpscart-cart-items-product-action-remove {
	color: $c-text !important;
}
.ekmpscart-checkout-button {
	background-color: $c-text !important;
}
.ekmpscart-cart-items-column-header {
	background-color: $c-lgrey !important;
}
.ekmpscart-checkout-button-continue {
	background: $c-grey !important;
	a {
		color: $c-white !important;
	}
}