.minicart-container {
	max-height: 0;
	padding: 0 20px;
	transition: max-height 0.2s, padding-top 0.2s, padding-bottom 0.2s;
	top: 100%;
	right: 0;
	overflow: hidden;
	background: $c-white;
	position: absolute;
	z-index: 10000;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	min-width: 340px;
	&.active {
		max-height: 400px;
		padding: 20px;
	}
	h3 {
		font-weight: 400;
		margin-bottom: 0;
	}
}
.minicart-content {
	max-height: 300px;
	overflow: auto;
	margin-bottom: 10px;
	& > ul {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		& > li {

		}
	}
}
.cart-prod-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-top: 1px dotted $border-colour;
	&:first-of-type {
		margin-top: 0;
		border: none;
	}
	&:last-of-type {
		padding-bottom: 10px;
	}
	&:hover {
		background: $c-lgrey;
	}
	.cart-image-wrapper {
		flex: 0 0 auto;
		margin-right: 10px;
	}
	.cart-image {
		max-width: 50px;
		a {

		}
		img {

		}
	}
	.cart-details {
		flex: 4 0 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.cart-name {
		font-size: 13px;
		line-height: 16px;
		margin-bottom: 4px;
	}
	.cart-price-and-quantity {
		display: flex;
	}
	.cart-price {
		flex: 3 0 0;
		font-weight: 400;
	}
	.cart-qty {
		flex: 1 0 0;
		display: flex;
	}
	.cart-qty-name {

	}
	.cart-qty-value {
		font-weight: 400;
	}
}

#cart {
	position: relative;
	color: $c-text;
	& > a {
		&:hover {
			text-decoration: none;
		}
		p {
			margin-bottom: 0;
			font-size: 12px;
			.icon-cart {
				color: $c-yellow;
				font-size: 16px;
				margin-right: 4px;
				vertical-align: -2px;
			}
		}
	}
}
#ekm_minicart_item_count {
	font-weight: 700;
}
#cart-amount {
	width: 45px;
	font-size: 15px;
	text-align: center;
	position: relative;
	.amount {
		position: relative;
		top: 11px;
		font-weight: 500;
		color: $c-text;
		font-size: 13px;
	}
	.icon-shopping-bag {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 60px;
		line-height: 22px;
	}
}
#cart-value {
	flex: auto;
	padding-right: 10px;
	color: $c-text;
	display: flex;
    justify-content: flex-end;
	p {
		font-size:17px;
		display: block;
		text-align: right;
		margin: 0;
		padding: 10px 6px;
	}
	span {
		font-weight: 600;
	}
}

.cart-btns-wrapper {
	display: flex;
	justify-content: space;
	align-items: center;
	.cart-btn {
		color: $c-white;
		flex: 1 0 0;
		text-align: center;
		line-height: 30px;
		border-radius: 2px;
		&.view-cart {
			background: $c-dgrey;
			&:hover {
				background: darken($c-dgrey, 10%);
			}
		}
		&.checkout {
			background: $c-green;
			&:hover {
				background: darken($c-green, 10%);
			}
		}
	}
}

#mobile-cart {
	.minicart-content {
		padding: 10px 20px;
		margin-bottom: 10px;
		background: $c-white;
	}
	.cart-prod-wrapper {
		padding: 10px 0;
	}
}
#mobile-minicart-container {
	padding: 10px;
	.basket-total {
		text-align: right;
		padding: 14px 0 0 0;
		margin: 0 0 10px 0;
		font-size: 15px;
		font-weight: 500;
		span {
			margin-left: 10px;
			color: $c-yellow;
			font-size: 18px;
		}
	}
}

/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {

}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {

}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {
	#cart {
		& > a {
			p {
				font-size: 15px;
				.icon-cart {
					color: $c-yellow;
					font-size: 22px;
					vertical-align: -5px;
				}
			}
		}
	}
}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {

}