.ekm-filterby-form {
	margin-bottom: 20px;
	.ekm-filterby-option {

	}
	.ekm-filterby-option-header {
		padding: 9px 18px;
		background: $c-lgrey;
		font-weight: 600;
		font-size: 14px;
		margin-bottom: 0;
		border-radius: 4px 4px 0 0;
		line-height: 18px;
	}
	.ekm-filterby-attributes {
		border: 1px solid $c-lgrey;
		max-height: initial;
		border-radius: 0 0 4px 4px;
		li {
			padding: 6px 18px;
			border-bottom: 1px solid $c-lgrey;
		}
		label,
		input[type="checkbox"] {
			display: inline-block;
		}
		input[type="checkbox"] {
			margin-right: 4px
		}
		label {
			margin: 0 10px 0 0;
		}
	}
	.ekm-filter-count {
		display: inline-block;
		font-size: 12px;
	}
}

.category-panel-container {
	#product-filter-container {
		margin-top: 20px;
	}
}