/**
 * Styling to handle corner flashes and promotional banners within product thumbnails.
 *
 * Simply add one of the fully qualified class names to the parent .panel container
 * and the respective promotional image will show within the child .promo-container object
 */
.panel {
	.image-container {
		position: relative;
	}
	&[class*="promo-"] {
		.promo-container {
			position: absolute;
			width: 36%;
			height: 36%;
			max-height: 36%;
			z-index: 100;
			background-repeat: no-repeat;
			background-size: contain;
			pointer-events: none;
		}
	}
	/**
	 * General positioning
	 */
	&[class*="arrow-right"],
	&[class*="banner"],
	&[class*="circle"],
	&[class*="ribbon"] {
		.promo-container {
			left: 5%;
			bottom: 5%;
			background-position: bottom left;
		}
	}
	&[class*="ribbon"] {
		.promo-container {
			width: 60%;
		}
	}
	&[class*="arrow-left"] {
		.promo-container {
			right:5%;
			bottom:5%;
			background-position: bottom right;
		}
	}
	&[class*="bottom-left"] {
		.promo-container {
			bottom: 0;
			left: 0;
			background-position: bottom left;
		}
	}
	&[class*="top-right"],
	&[class*="star"] {
		.promo-container {
			top: 0;
			right: 0;
			background-position: top right;
		}
	}
	&[class*="corner"] {
		.promo-container {
			width: 50%;
			height: 50%;
			max-height: initial;
		}
	}
	/**
	 * Fully qualified promo names
	 */
	&.promo-arrow-left-stroke-sale-item {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-arrow-left-stroke-sale-item.svg);
		}
	}
	&.promo-arrow-right-stroke-sale-item {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-arrow-right-stroke-sale-item.svg);
		}
	}
	&.promo-ribbon-filled-premium-product {
		.promo-container {
			left: auto;
			bottom: auto;
			top: 5%;
			right: 5%;
			max-height: 40px;
			background-position: top right;
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-banner-filled-premium-product.svg);
		}
	}
	&.promo-ribbon-stroke-lifetime-warranty {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-banner-stroke-lifetime-warranty.svg);
		}
	}
	&.promo-banner-stroke-best-buy {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-banner-stroke-best-buy.svg);
		}
	}
	&.promo-circle-filled-best-online {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-circle-filled-best-online.svg);
		}
	}
	&.promo-circle-filled-while-stocks-last {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-circle-filled-while-stocks-last.svg);
		}
	}
	&.promo-circle-stroke-best-price {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-circle-stroke-best-price.svg);
		}
	}
	&.promo-corner-bottom-left-filled-discount-item {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-corner-bottom-left-filled-discount-item.svg);
		}
	}
	&.promo-corner-top-right-filled-just-released {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-corner-top-right-filled-just-released.svg);
		}
	}
	&.promo-corner-top-right-filled-most-popular {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-corner-top-right-filled-most-popular.svg);
		}
	}
	&.promo-corner-top-right-filled-new-range {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-corner-top-right-filled-new-range.svg);
		}
	}
	&.promo-corner-top-right-filled-new {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-corner-top-right-filled-new.svg);
		}
	}
	&.promo-corner-top-right-stroke-new {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-corner-top-right-stroke-new.svg);
		}
	}
	&.promo-star-filled-best-price {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-star-filled-best-price.svg);
		}
	}
	&.promo-star-filled-best-seller {
		.promo-container {
			background-image: url(/ekmps/shops/995665-sandbox/resources/Design/promo-star-filled-best-seller.svg);
		}
	}
}