.product-slider {
	margin-bottom: 30px;
	.slide {
		margin-left: 10px;
		margin-right: 10px;
	}
	a {
		position: relative;
		display: flex;
		border: 1px solid $c-lgrey;
		&:hover {
			text-decoration: none;
			border-color: $c-grey;
		}
	}
	.image-container {
		flex: 0 0 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
	}
	.copy-container {
		flex: 0 0 50%;
		padding: 30px 10px;
		display: block;
		span {
			display: block;
		}
	}
	.title {
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		margin-bottom: 30px;
	}
	.only {
		font-size: 14px;
		margin-bottom: 6px;
	}
	.price {
		font-size: 24px;
		font-weight: 700;
	}
}

/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {
}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {
}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {
	.product-slider {
		.copy-container {
			padding: 20px 10px;
		}
		.title {
			font-size: 14px;
			margin-bottom: 20px;
		}
		.only {
			font-size: 14px;
			margin-bottom: 6px;
		}
		.price {
			font-size: 24px;
			font-weight: 700;
		}
	}
}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {
	.product-slider {
		.title {
			font-size: 17px;
			line-height: 22px;
			margin-bottom: 24px;
		}
	}
}