#search-results {
	padding: 20px 0;
}

#no-search-results {
	margin-top: 20px;
	p {
		margin: 0;
	}
}
#search-result-stats {
	display: flex;
	padding: 0 0 20px 0;
	justify-content: space-between;
	border-bottom: 1px dotted $border-colour;
	margin-bottom: 20px;
	.search-term {
		font-size: 16px;
		font-weight: 500;
	}
}
.pagination {
	padding: 20px 0;
    border-top: 1px dotted $border-colour;
    display: flex;
    justify-content: center;
}
.pagination-link {
	padding: 0 4px;
	.pagination-current-page {
		color: $c-text;
		font-weight: 600;
	}
	.next-page {

	}
}