// =====================
// Button
// =====================

@mixin button-xs ($icon: null) {
	@include button(
		$font-size: 9px,
		$height: 18px,
		$padding-lr: 6px,
		$radius: 2px,
		$content: $icon
	);
}
@mixin button-sm ($icon: null) {
	@include button(
		$font-size: 11px,
		$height: 28px,
		$padding-lr: 11px,
		$content: $icon
	);
}
@mixin button-md ($icon: null) {
	@include button(
		$font-size: 14px,
		$height: 32px,
		$padding-lr: 15px,
		$content: $icon
	);
}
@mixin button-lg ($icon: null) {
	@include button(
		$font-size: 18px,
		$height: 43px,
		$padding-lr: 25px,
		$content: $icon
	);
}
@mixin button-xl ($icon: null) {
	@include button(
		$font-size: 24px,
		$height: 56px,
		$padding-lr: 40px,
		$content: $icon
	);
}

@mixin button(
	$font-size: 15px,
	$height: 34px,
	$padding-lr: 9px,
	$padding-tb: 0,
	$button-colour: $button-colour,
	$text-colour: $c-white,
	$hover-colour: $button-hover-colour,
	$content: null,
	$radius: 0,
	$font-weight: 300,
	$font-family: ambicon) {

    display: inline-block;
    vertical-align: baseline;
    padding: $padding-tb $padding-lr;
    background-color: $button-colour;
    border: none;
    border-radius: $radius;
    color: $text-colour;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $height;
    text-align: center;
    text-decoration: none;
    position: relative;
    overflow: visible;
    z-index: 1;
    &:hover,
    &:focus,
    &:active {
        color: $text-colour;
        text-decoration: none;
        background-color: $hover-colour;
        cursor: pointer;
        &:after {
        	border-left-color: $hover-colour;
        }
    }
    @if $content != null {
    	padding-right: $padding-lr * 1.75;
	    &:after {
	    	content: $content;
	    	font-family: $font-family;
	    	font-size: 80%;
			right: $padding-lr * 0.6;
			top: 0px;
			position: absolute;
			color: $text-colour;
	    }
    }
}

// Change the colour of an existing button
@mixin button-colour(
		$button-colour,
		$text-colour,
		$hover-colour: null,
		$hover-text-colour: null) {

	@if $hover-colour == null {
		$hover-colour: darken($button-colour, 5%);
	}

	@if $hover-text-colour == null {
		$hover-text-colour: lighten($text-colour, 5%);
	}

	background-color: $button-colour;
	color: $text-colour;
	&:after {
		border-left-color: $button-colour;
	}
	&:hover,
    &:focus,
    &:active {
        color: $hover-text-colour;
        background-color: $hover-colour;
        cursor: pointer;
        &:after {
        	border-left-color: $hover-colour;
        }
    }
}