footer {

}
#sign-up-strip {
	background: $c-yellow;
	padding: 10px;
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	p {
		flex: 0 0 auto;
		font-size: 14px;
		margin-bottom: 10px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;
	}
	.signup-form-wrapper {
		flex: 0 0 auto;
		display: flex;
		justify-content: space-between;
	}
	input[type="text"] {
		flex: 1 0 auto;
		margin-right: 10px;
		width: auto;
		border-radius: 0;
		border: none;
	}
	input[type="submit"] {
		flex: 0 0 0;
		background: $c-dgrey;
	}
}
#footer-links {
	background: $c-dgrey;
	padding: 20px;
	.container {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
	}
	.trustpilot-widget {
	    max-width: 260px;
	}
}
.footer-block {
	color: $c-white;
	margin-bottom: 20px;
	flex: 100%;
	h4 {
		color: $c-yellow;
		font-weight: 400;
		margin-bottom: 10px;
	}
	a {
		color: $c-white;
	}
	ul {
		padding-left: 15px;
	}
	li {
		@extend .icon-dot;
		padding: 4px 0;
		&:before {
			@extend %icon-base;
			color: $c-yellow;
			margin-right: 8px;
			margin-left: -15px;
			font-size: 6px;
			vertical-align: 2px;
		}

	}
	address {
		font-weight: 100;
		line-height: 20px;
		margin-bottom: 30px;
	}
	.tel-num {
		font-size: 26px;
		font-weight: 100;
		a {
			font-weight: 300;
			&:hover {
				text-decoration: none;
			}
		}
		.icon-telephone {
			color: $c-yellow;
			vertical-align: -2px;
		}
	}
	.tel-wrapper {
		margin-bottom: 30px;
	}
	.logo {
		display: block;
		margin-bottom: 30px;
		max-width: 220px;
	}
}
#footer-trustpilot {
	margin-bottom: 20px;
	img{
		max-width: 200px;
	}
	ul {
		margin-top: 20px;
		font-size: 0;
	}
	li {
		display: inline-block;
		font-size: 11px;
		a {
			margin-right: 8px;
			padding-right: 8px;
			display: block;
			color: $c-white;
			border-right: 1px solid $c-white;
			line-height: 12px;
		}
		&:last-child {
			a {
				margin-right: 0;
				padding-right: 0;
				border: none;
			}
		}
	}
}
#social-links {
	display: flex;
	flex-direction: column;
	a {
		font-size: 16px;
		color: $c-lgrey;
		margin: 0 8px 8px 0;
		[class^="icon"] {
			color: $c-lgrey;
			margin-right: 6px;
		}
	}
}
#footer-usps {
	background: #000000;
	padding: 20px 20px 20px 10px;
	color: $c-white;
	.row {
		display: flex;
		flex-wrap: wrap;
	}
	.column {
		flex: 50%;
		margin-bottom: 20px;
		& > div {
			margin: 0 auto;
			text-align: center;
		}
	}
	span {
		display: block;
		font-size: 60px;
		margin-bottom: 4px;
	}
	p {
		font-size: 16px;
		margin: 0 0 4px 0;
		&.small {
			font-size: 11px;
			margin: 0;
		}
	}
	.icon-van {
		font-size: 68px;
		line-height: 60px;
	}
}
#payment-logos {
	padding-top: 10px;
	padding-bottom: 10px;
	.row {
	    justify-content: space-evenly;
	}
	.column {
		margin: 10px 5px;
	}
}
#copyright-notice {
	p {
		text-align: center;
	}
}

// =========================
//  Small Breakpoint
// =========================
@include media-breakpoint-up(sm) {
	.footer-block {
		flex: 50%;
		h4 {
			font-size:18px;
		}
	}
	#footer-usps {
		.column {
			flex: 33.333333%;
		}
	}
	#sign-up-strip {
		padding: 20px 0;
		form {
			flex-direction: row;
		}
		p {
			flex: 1 1 50%;
			margin: 0 20px 0 0;
			font-size: 2.6vw;
		}
		.signup-form-wrapper {
			flex: 1 1 50%;
			padding-right: 20px;
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include media-breakpoint-up(md) {
	#sign-up-strip {
		p {
			font-size: 2.3vw;
		}
	}
	.footer-block {
		address {
			font-size: 13px;
		}
	}
	#footer-usps {
		.column {
			flex: 16.66666666%;
		}
	}
	#footer-trustpilot {
		margin-top: -50px;
	}
}

// =========================
//  Large Breakpoint
// =========================
@include media-breakpoint-up(lg) {
	#sign-up-strip {
		p {
			font-size: 20px;
		}
	}
	.footer-block {
		flex: 25%;
		h4 {
			font-size: 15px;
		}
		.tel-num {
			font-size: 24px;
		}
	}
	#footer-trustpilot {
		margin-top: -120px;
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include media-breakpoint-up(xl) {
	.footer-block {
		h4 {
			font-size: 17px;
		}
	}
}