.container {
	//max-width: 1200px;
	//margin: 0 auto;
}
.full-page-container {
	margin-top: 40px;
}

#sidebar {
	order: 2;
}
#main-content {
	order: 1;
}
/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {

}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {
	#sidebar {
		order: 1;
	}
	#main-content {
		order: 2;
	}
}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {

}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {

}