#header {
	padding: 20px 10px;
	justify-content: space-between;
	align-items: center;
}
#header-logo {
	flex: 0 0 150px;
}
#search-form,
#mobile-search {
	flex: 1 1 auto;
	padding: 0 20px;
	form {
		display: flex;
		justify-content: center;
	}
	input[type="text"] {
		width: auto;
		flex: 1 1 auto;
		border-radius: 16px 0 0 16px;
		border: 2px solid $c-lgrey;
	}
	.button {
		flex: 0 0 34px;
		border-radius: 0 16px 16px 0;
		background-color: $c-lgrey;
		font-family: ambicon;
		font-size: 19px;
	}
	.button-wrapper {
		&:before {
			position: relative;
			margin-right: -30px;
			z-index: 1000;
		}
	}
}
#account-and-cart-wrapper {
	flex: 0 0 170px;
	display: flex;
	flex-direction: column;
	.tel-num {
		font-size: 20px;
		margin-bottom: 10px;
		a {
			font-weight: 300;
			&:hover {
				text-decoration: none;
			}
		}
		.icon-telephone {
			color: $c-yellow;
			vertical-align: -2px;
		}
	}
}
#login-and-cart-wrapper {
	display: flex;
	flex-direction: row;
}
.login-form-wrapper {
	position: relative;
	p {
		margin-right: 10px;
		margin-bottom: 0;
		font-size: 12px;
		a {
			font-weight: 400;
		}
	}
	form {
		max-height: 0;
		padding: 0 20px;
		transition: max-height 0.2s, padding-top 0.2s, padding-bottom 0.2s;
		overflow: hidden;
		background: $c-white;
		position: absolute;
		top: 100%;
		z-index: 1000;
		&.active {
			max-height: 300px;
			padding: 20px;
		}
		input[type="submit"] {
			background: transparent;
			border: none;
			padding-left: 10px;
			padding-right: 10px;
			color: $c-white;
		}
		form {
			position: absolute;
			right: 0;
			top: 100%;
			z-index: 10000;
			box-shadow: 0 0 5px rgba(0,0,0,0.4);
		}
	}
}
#header-login {
	a {
		font-size: 11px;
	}
}
#header-usps {
	background: $c-dgrey;
	color: $c-white;
	.row {
		justify-content: space-evenly;
	}
	a {
		padding: 10px 5px;
		color: $c-white;
		font-size: 11px;
		&:after {
			@extend %icon-base;
			content: $icon-arrow-right;
			font-family: ambicon;
			font-size:12px;
			margin-left: 6px;
			vertical-align: -2px;
			color: $c-yellow;
		}
		&:hover {
			text-decoration: none;
		}
	}
	.col-sm {
		padding: 6px 10px 4px 10px;
		border-left: 1px solid $c-grey;
		&:first-of-type {
			border-left: none;
		}
		span {
			display: inline-block;
			vertical-align: middle;
		}
		span[class^="icon"] {
			display: inline-block;
			font-size: 26px;
			margin-right: 4px;
			width: 24px;
		}
		.content {
			font-size: 10px;
			line-height: 1.2;
			width: calc(100% - 36px);
		}
	}
}
#mobile-header {
	padding: 14px 20px;
	.logo {
		display: block;
		img {
			max-width: 140px;
		}
	}
	.trustpilot {
		max-height: 42px;
	}
}
#mobile-search,
#mobile-account,
#mobile-cart {
	max-height: 0;
	overflow: hidden;
	background: lighten($c-lgrey, 10%);
	transition: max-height 0.3s;
	&.active {
		max-height: 600px;
	}
}
#mobile-search {
	form {
		margin: 20px 0;
	}
}
#mobile-account {
	li {
		border-top: 2px solid $c-white;
	}
	a {
		display: block;
		padding: 10px;
		font-size: 14px;
		font-weight: 400;
	}
	input[type="text"],
	input[type="password"] {
		@extend .form-control;
	}
}

// =========================
//  Small Breakpoint
// =========================
@include media-breakpoint-up(sm) {
	#mobile-header {
		.logo {
			img {
				max-width: 220px;
			}
		}
		.trustpilot {
			img {
				max-height: 65px;
			}
		}
	}
}

// =========================
//  Medium Breakpoint
// =========================
@include media-breakpoint-up(md) {
	#header {
		display: flex;
	}
	#header-trustpilot {
		display: inline-block;
		flex: 0 0 120px;
		margin-right: 20px;
		max-height: 72px;
	}
	#header-usps {
		.col-sm {
			padding: 6px 10px 4px 10px;
			span[class^="icon"] {
				font-size: 30px;
				margin-right: 10px;
			}
			.content {
				font-size: 12px;
				width: calc(100% - 42px);
			}
		}
	}
}

// =========================
//  Large Breakpoint
// =========================
@include media-breakpoint-up(lg) {
	#header-logo {
		flex: 0 0 220px;
	}
	#header-trustpilot {
		flex: 0 0 130px;
	}
	#header-usps {
		.col-sm {
			.content {
				font-size: 13px;
			}
		}
	}
	#account-and-cart-wrapper {
		flex: 0 0 210px;
		.tel-num {
			font-size: 25px;
			margin-bottom: 10px;
		}
	}
	.login-form-wrapper {
		p {
			font-size: 14px;
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include media-breakpoint-up(xl) {
	#header-usps {
		.row {
			border-top-color: $c-black;
		}
		.col-sm {
			padding: 6px 16px 4px 16px;
		}
	}
}