#ellipse {
	color: $c-white;
	font-size: 20px;
	padding: 10px;
}
#mobile-nav {
	background: $c-dgrey;
	font-size: 0;
	div {
		display: inline-block;
		vertical-align: middle;
		width: 25%;
		font-size: 26px;
		text-align: center;
		color: $c-white;
		margin: 8px 0;
		border-right: 1px solid lighten($c-dgrey, 20%);
		&:last-child {
			border-right: none;
		}
		&.icon-user {
			font-size: 30px;
		}
		&.icon-shopping-bag {
			font-size: 32px;
		}
	}
}





#main-nav {
	.container {
		margin: 0;
		position: relative;
		padding: 0;
		max-width: 100%;
	}
}
#main-nav-bar {
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.3s;
	width: 100%;
	a {
		&:hover {
			text-decoration: none;
		}
	}
	&.active {
		max-height: 2000px;
	}
	& > li {
		border-bottom: 1px solid $c-lgrey;
		& > a {
			padding: 10px 20px;
			display: block;
			text-align: center;
		}
		&.active {
			.nav-panel {
				max-height: 1000px;
				padding-top: 30px;
				padding-bottom: 30px;
				box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.3);
				border-top: 1px solid $c-lgrey;
			}
		}
	}
}
.nav-panel {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s,
    			padding-top 0.3s,
    			padding-bottom 0.3s;
	background: $c-white;
	padding-left: 30px;
	padding-right: 30px;
	.nav-panel-image {
		img {
			max-width: 100%;
		}
	}
}
.nav-panel-block {
	h4 {
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 10px;
	}
	h5 {
		font-size: 12px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	ul {
		margin-bottom: 20px;
	}
	li {
		@extend .icon-arrow-right;
		padding: 5px 0;
		display: flex;
		&:before {
			color: $c-yellow;
			font-family: ambicon;
			font-size: 11px;
			flex: 0 0 14px;
		}
		a {
			//width: calc(100% - 20px);
			//display: inline-block;
			//vertical-align: middle;
			//padding: 5px 0;
		}
	}
	&:last-of-type {
		ul {
			margin-bottom: 0;
		}
	}
}
.column-wrapper {
	display: flex;
	flex-direction: column;
}
#overlay {
	transition: opacity 0.2s;
	opacity: 0;
	poiter-events: none;
	&.active {
		opacity: 1;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.4);
		z-index: 100;
	}
}





// =========================
//  Small Breakpoint
// =========================
@include media-breakpoint-up(sm) {
	#main-nav {
		.container {
			max-width: 540px;
		}
	}
	.nav-panel {
		display: flex;
	}
	.nav-panel-block {
		flex: 1;
	}
}
// =========================
//  Medium Breakpoint
// =========================
@include media-breakpoint-up(md) {
	#main-nav {
		background: $c-yellow;
		.container {
			margin: 0 auto;
			max-width: 720px;
		}
	}
	#main-nav-bar {
    	display: flex;
    	max-height: initial;
    	width: 100%;
    	transition: initial;
    	overflow: visible;
        position: relative;
        z-index: 110;
		& > li {
            position: relative;
            flex: 1;
            border-right: 1px solid #FFF;
            border-top: none;
            &.active {
            	.nav-panel {
            		max-height: initial;
            		padding-top: 30px;
            	}
            }
            & > a {
            	font-size: 1.6vw;
            	padding: 10px 6px;
            }
        }
    }
    .nav-panel {
    	position: absolute;
    	left: 0;
    	top: 100%;
    	display: flex;
    	transition: max-height 0.1s,
    				padding-top 0.1s,
    				padding-bottom 0.1s;
    	&.left {
    		right: 0;
    		left: initial;
    	}
    	li {
    		display: flex;
    		align-items: center;
    		min-width: 210px;
		    &:hover {
		    	&:before {
		    		color: $c-dgrey;
		    	}
		    }
    	}
    }

    .nav-panel-block {
    	margin-right: 20px;
    	padding-left: 20px;
    	border-left: 1px dotted $c-yellow;
		flex: 1;
    	&.first {
    		padding-left: 0;
    		border-left: none;
    	}
    	&.wide {
    		flex: 1 0 340px;
    	}
    	ul {
    		margin-bottom: 0;
    		li {
    			font-size: 12px;
    		}
    	}
    	h4 {
    		font-size: 16px;
    		white-space: nowrap;
    		border-bottom: 1px dotted $c-yellow;
			padding-bottom: 10px;
    	}
    	h5 {
			font-size: 12px;
			font-weight: 700;
			margin: 10px 0 5px 0;
			border-bottom: 1px dotted $c-yellow;
			padding-bottom: 6px;
			display: inline-block;
			text-transform: uppercase;
			white-space: nowrap;
    	}
    	p {
    		margin-bottom: 0;
    	}
    }
}

// =========================
//  Large Breakpoint
// =========================
@include media-breakpoint-up(lg) {
	#main-nav {
		.container {
			max-width: 960px;
		}
	}
	#main-nav-bar {
		& > li {
            & > a {
            	font-size: 14px;
            	padding: 10px 12px;
            }
        }
    }
    .column-wrapper {
    	flex-direction: row;
    }
    .col-2-nav-block {
		margin-left: 15px;
		&:first-of-type {
			margin-left: 0;
		}
	}
}

// =========================
//  Extra Large Breakpoint
// =========================
@include media-breakpoint-up(xl) {
	#main-nav {
		.container {
			max-width: 1140px;
		}
	}
	#main-nav-bar {
		& > li {
            & > a {
            	font-size: 14px;
            	padding: 10px 16px;
            }
        }
    }
}