#sidebar {
	padding-bottom: 20px;
}
.side-bar-nav-panel {
	border-bottom: 1px dotted $c-lgrey;
	padding: 0;
	margin: 0 0 20px 0;
	background: lighten($c-lgrey, 20%);
	.title {
		background: $c-yellow;
		padding: 10px 20px;
		display: flex;
		align-items: center;
	}
	h3 {
		font-size: 14px;
		line-height: 18px;
		font-weight: 700;
		margin: 0;
	}
	.copy-container {
		padding: 20px;
	}
	li {
		display: flex;
		align-items: center;
		padding: 3px 0;
		&:before {
			@extend %icon-base;
			content: $icon-arrow-right;
			color: $c-yellow;
			margin-right: 8px;
		}
	}
}
#sidebar-panel-container {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}
.sidebar-panel {
	flex: 1 1 auto;
	margin: 0 0 20px 0;
	width: 100%;
	a {
		width: 100%;
		display: flex;
		justify-content: center;
	}
	&:last-child {
		margin-bottom: 0;
	}
}
/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {
	#sidebar-panel-container {
		flex-wrap: wrap;
		flex-direction: row;
	}
	.sidebar-panel {
		flex: 0 0 calc(50% - 10px);
		margin: 10px 5px;
	}
}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {
	#sidebar-panel-container {
		flex-direction: column;
	}
	.sidebar-panel {
		flex:1 1 auto;
		margin: 0 0 20px 0;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {

}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {

}