#sidebar {
	order: 2;
}
#category-content {
	order: 1;
	.flexslider {
		border: 0;
	}
}

#sortby {
	margin: 0 0 10px 0;
	padding: 10px 0;
	border-bottom: 1px dotted $c-lgrey;
	border-top: 1px dotted $c-lgrey;
	display: flex;
	align-items: center;
}
.sortby-right {
	flex: 1;
	padding-right: 10px;
	text-align: right;
}
.sortby-left {
	flex: 2;
    padding: 0 10px;
	span {
		line-height: 18px;
	}
}
.ekm-sortby-form {

}
.ekm-sortby {
	display: flex;
	flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
	label,
	select {
	}
	label {
		flex: 0 0 auto;
		margin: 0 6px 6px 0;
	}
	select{
		flex: 0 0 auto;
		width: auto;
	}
}

/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {
	.ekm-sortby {
		flex-wrap: nowrap;
	}
}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {
	#sidebar {
		order: 1;
	}
	#category-content {
		order: 2;
	}
}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {

}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {

}