#coronavirus-delivery-notice {
	text-align: center;
 	border: 1px solid #95a486;
 	background: #eff5ea;
 	margin-bottom: 20px;
 	color: #3d6611;
 	padding: 20px 30px 24px 30px;
 	h2 {
		font-weight: 500;
		margin: 0 0 10px 0;
		font-size: 24px;
		line-height: 1.2;
		text-rendering: optimizeLegibility;
 	}
 	p {
 		font-size: 16px;
 		line-height: 1.5;
 		margin-bottom: 10px;
 		&:last-of-type {
 			margin: 0;
 		}
 		&.call-to-action {
 			font-size: 19px;
 			color: #000000;
 		}
 	}
}

#breadcrumb {
	padding: 16px 0 16px 14px;
	a {
		padding: 0 2px;
	}
}

.christmas-corner-flash {
	position: fixed;
	z-index: 10;
	bottom: 0;
	right: 0;
}

#testimonials-page {
	.testimonial {
		margin: 0 0 20px 0;
		padding: 20px;
		border-bottom: 1px dotted $c-grey;
		box-shadow: -3px 4px 8px -4px rgba(0, 0, 0, 0.3);
	}
	h6 {
		font-weight: 700;
	}
	.copy-container {
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

#page-wrapper {
	margin-top: 30px;
}

// This stops images being stretched when inside a display flex element
.d-flex {
	> img {
		align-self: flex-start;
	}
}

#delivery-countdown {
	.time {
		font-weight: 700;
		font-size: 110%;
	}
}

#system-types-title {
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid $border-colour;
	h2 {
		font-size: 5.4vw;
		font-weight: 100;
		text-align: center;
	}
}
.system-type-arrow {
	margin: 0 auto;
}
.do-dont {
	display: flex;
	align-items: center;
	border-bottom: 1px dotted $c-lgrey;
	padding-bottom: 10px;
	margin-bottom: 10px;
	span:last-of-type {
		flex: 1;
	}
}
.do,
.dont {
	flex: 0 0 48px;
	text-align: center;
	padding: 4px 0;
	font-size: 12px;
	border-radius: 3px;
	margin-right: 12px;
	color: $c-white;
}
.do {
	background: $c-green;
}
.dont {
	background: $c-red;
}

.expert {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	border-bottom: 1px dotted $c-lgrey;
	.image-container {
		flex: 0 1 204px;
		margin-bottom: 20px;
	}
	.copy-container {
		flex: 1;
	}
}
.reviews-frame {
	margin-bottom: 40px;
	h2 {
		margin-bottom: 20px;
	}
}
.showcase-widget {
	width: 100% !important;
}

.product-type-section {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px dotted $c-lgrey;
	.description {
		flex: 1;
		margin-bottom: 20px;
	}
	.links {
		flex: 1;
	}
}
/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {
	.expert {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		.image-container {
			margin-right: 20px;
		}
		.copy-container {
			flex: 1;
		}
	}
	.product-type-section {
		flex-direction: row;
		.description {
			flex: 2;
			margin-bottom: 0;
		}
		.links {
			flex: 1;
		}
	}
	#system-types-title {
		h2 {
			font-size: 3.2vw;
		}
	}
}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {
	#testimonials-page {
		#testimonials {
			display: flex;
			flex-wrap: wrap;
		}
		.testimonial {
			flex: 0 0 auto;
			flex: calc(50% - 30px);
			margin: 0 30px 20px 0;
		}
	}
	#system-types-title {
		h2 {
			font-size: 2.7vw;
		}
	}
}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {
}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {
	#system-types-title {
		h2 {
			font-size: 36px;
		}
	}
}