.category_image {
	margin-bottom: 20px;
}
#category_description_short {

}
.row_category {
	margin-top: 20px;
}
#product_list {
	padding: 0 20px;
	& > li {
	}
	.product_img_link {
		margin-bottom: 20px;
		display: block;
	}
	.center_block {
		margin-bottom: 20px;
	}
	.right_block {
		margin-bottom: 20px;
		.from {
			font-size: 14px;
			span {
				display: block;
				font-weight: 600;
				font-size: 22px;
			}
		}
	}
}

.fastLink {
	font-weight: 600;
	font-size: 16px;
	ul {
		margin-top: 10px;
		list-style: bullet;
	}
	a {
		font-weight: 400;
		font-size: 12px;
		text-decoration: underline;
	}
}

/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {

}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {
	.category_image,
	#category_description_short {
		display: inline-block;
		vertical-align: top;
	}
	.category_image {
		width: 30%;
		margin-right: 20px;
		margin-bottom: 0;
	}
	#category_description_short {
		width: calc(70% - 30px);
	}
	#product_list {
		margin-top: 20px;
		padding: 0;
		& > li {
			display: flex;
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px dotted $border-colour;
		}
		.product_img_link {
			display: block;
			flex: 2;
			margin-right: 20px;
			margin-bottom: 0;
		}
		.center_block {
			flex: 3;
			margin-right: 20px;
			margin-bottom: 0;
		}
		.right_block {
			flex: 1;
			.from {
				font-size: 14px;
				span {
					display: block;
					font-weight: 600;
					font-size: 22px;
				}
			}
		}
	}
}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {

}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {

}