.show-above-sm,
.show-above-md,
.show-above-lg,
.show-above-xl,
.hide-below-sm,
.hide-below-md,
.hide-below-lg,
.hide-below-xl {
    display: none;
}
@include media-breakpoint-up(sm) {
    .hide-above-sm {
        display: none;
    }
    .show-above-sm,
    .hide-below-sm {
        display: block;
    }
}
@include media-breakpoint-up(md) {
    .hide-above-md {
        display: none;
    }
    .show-above-md,
    .hide-below-md {
        display: block;
    }
}
@include media-breakpoint-up(lg) {
    .hide-above-lg,
     {
        display: none;
    }
    .show-above-lg,
    .hide-below-lg {
        display: block;
    }
}
@include media-breakpoint-up(xl) {
    .hide-above-xl {
        display: none;
    }
    .show-above-xl,
    .hide-below-xl {
        display: block;
    }
}