// ==========================
// Colours
// ==========================
$c-red: #E60004;
$c-yellow: #FFCC00;
$c-dgrey: #333333;
$c-grey: #666666;
$c-lgrey: #C2C2C2;
$c-xlgrey: #F5F5F5;
$c-black: #000000;
$c-white: #FFFFFF;

$c-red: #E60004;
$c-blue: #0099FF;
$c-xlblue: #EAEEF1;
$c-green: #009400;
$c-orange: #D17709;

$c-text: $c-dgrey;

$border-colour: $c-lgrey;

// ==========================
//   Link styling
// ==========================
$link-color:            $c-black;
$link-hover-color:      $link-color;
$link-hover-decoration: underline;

// ==========================
//   Button Styling
// ==========================
$button-colour: 		$c-yellow;
$button-hover-colour: 	darken($c-yellow, 15%);

// ==========================
//   Bootstrap variables
// ==========================
$grid-gutter-width: 20px;