#product-attributes {
	padding-top: 20px;
	border-top: 1px solid darken($border-colour, 10%);
	ul {
		display: flex;
		flex-wrap: wrap;
	}
	li {
		margin-right: 20px;
		border-bottom: 1px dotted $c-lgrey;
		padding: 6px 0;
		span {
			font-weight: 600;
			margin-right: 4px;
			text-transform: capitalize;
		}
	}
}

/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {

}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {

}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {

}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {
	#product-attributes {
		li {
			margin-right: 0;
			flex: 1 1 50%;
		}
	}
}