.product-page {
	.section:not(#description) {
		border-top: 1px dotted $border-colour;
		padding-top: 20px;
		margin-top: 20px;
	}
}
#product-image {
	img {
		height: auto;
		max-height: 500px;
	    margin: 0 auto;
	}
}

#description {
	padding-top: 20px;
}

#installation,
#specification {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px dotted $border-colour;
}

#gtin {
	font-size: 10px;
	margin: 0 10px 10px 0;
	text-align: right;
}
/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {

}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {
	#description {
		border-top: 1px dotted #C2C2C2;
		padding-top: 20px;
		margin-top: 20px;
	}
}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {

}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {

}