#product-info {
	background: $c-xlgrey;
	.options-row {
		margin-bottom: 10px;
	}
	.main-price {
		.price {
			font-size: 30px;
			font-weight: 500;
		}
	}
	.main-add-to-cart-new {
		text-align: right;
	}
	.product-qty {
		label {
			font-size: 12px;
			display: inline-block;
			margin: 0 4px 0 0;
		}
	}
	.ekmps-product-qty {
		margin-bottom: 10px;
		width: 50px;
	}
	.main-add-to-cart {
		& > span {
			&:after {
				font-family: 'ambicon';
				content: $icon-arrow-right;
				position: relative;
				margin-left: -20px;
				margin-right: 10px;
				color: $c-white;
				z-index: 10;
			}
		}
	}
	.ekmps-product-add-to-cart {
		@include button-md();
		@include button-colour($c-green, $c-white);
		padding-right: 25px;
	}
	.wishlist-wrapper {
		border-top: 1px solid darken($border-colour, 10%);
		> div {
			display: flex;
			align-items: center;
		}
		[class^="icon-"] {
			flex: 0 0 60px;
			font-size: 50px;
			color: $c-yellow;
		}
		button {
			flex: 0 1 auto;
			font-size: 20px;
			border: none;
			background: none;
			text-align: left;
		}
	}
	.loyalty-points {
		border-top: 1px solid darken($border-colour, 10%);
		display: flex;
		align-items: center;
		[class^="icon-"] {
			flex: 0 0 60px;
			font-size: 50px;
			color: $c-yellow;
		}
		.notice {
			flex: 1 1 auto;
			font-size: 16px;
			line-height: 22px;
		}
	}
	.christmas-opening-times-link {
		margin-top: 20px;
		font-weight: 600;
		display: block;
		text-align: right;
		span {
			margin-left: 4px;
			vertical-align: middle;
			color: $c-red;
		}
	}
}

/**
 * Small breakpoint
 */
@include media-breakpoint-up(sm) {

}
/**
 * Medium breakpoint
 */
@include media-breakpoint-up(md) {
	.ekmps-product-add-to-cart {
		@include button-lg();
		padding-right: 38px;
	}
	#product-info {
		.main-price {
			.price {
				font-size: 40px;
			}
		}
		.ekmps-product-qty {
			width: 70px;
		}
		.wishlist-wrapper {
			> div {
				border-right: 1px solid darken($border-colour, 10%);
				padding-right: 20px;
			}
			button {
				font-size: 17px;
			}
		}
		.loyalty-points {
			.notice {
				font-size: 13px;
				line-height: 16px;
			}
		}
	}
}
/**
 * Large breakpoint
 */
@include media-breakpoint-up(lg) {
	#product-info {
		.wishlist-wrapper {
			button {
				font-size: 20px;
			}
		}
		.loyalty-points {
			.notice {
				font-size: 16px;
				line-height: 22px;
			}
		}
	}
}
/**
 * Extra Large breakpoint
 */
@include media-breakpoint-up(xl) {

}