#product-reviews {
	.content {
	}
	.review-block {
		margin-top: 20px;
	}
}

#ekomi-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	h2 {
		margin: 0;
	}
}