#product-stock-wrapper {
	border-top: 1px solid darken($border-colour, 10%);
	[class$="stock"] {
		display: flex;
		align-items: center;
	}
	[class^="icon"] {
		flex: 0 0 60px;
		font-size: 50px;
	}
	.icon-tick {
		color: $c-green;
	}
	.icon-cross {
		color: $c-red;
	}
	.notice {
		flex: 1 1 auto;
		font-size: 16px;
		line-height: 22px;
		h4 {
			font-size: 16px;
		}
		p {
			margin: 0;
		}
	}
	.in-stock {
		h4 {
			color: $c-green;
		}
	}
	.oo-stock {
		h4 {
			color: $c-red;
		}
	}
}